# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# GCP
google-cloud-sdk/

# Kubernetes
kubeconfig
.kube/

# Node
node_modules/
dist/

# Env
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
